body {
  background-image: url("./assets/img/background.jpg");
  background-color: rgb(31, 132, 199);
  background-size: cover;
}

.Titulo {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}
